html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body,
header,
#intro {
    height: 100%;
} 

#pricing,
#features,
#featured-presentations,
#howitworks {
  padding-top: 90px;
}

.bg {
  background-image: url('https://raw.githubusercontent.com/Hiverlab/reality-cast-landing-page/master/public/images/bg.png?token=AMBYZPWNWJ2FUJAQ5CUB5726YS5SA');
  background-size: cover;
}

/* #intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 10%;
    width: 100%;
    height: 100vh; 
}  */

.top-nav-collapse {
    background-color: #FDD344;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #FDD344;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #FDD344;
  }
}

.invisible {
  background-color: transparent; 
}